*.iml
*.aab
.gradle
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/assetWizardSettings.xml
/.idea/libraries
/.idea/markdown-navigator.xml
/.idea/markdown-navigator
/.idea/markdown-navigator-enh.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
